html{
    font-size: 20px;
}


* {
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


body{
    background-color: bisque;
    margin: 0;
}

.wrapper{
    width: 90%;
    margin: 1rem auto;
    background-color: #fff;
    padding: 1rem;
}

h1{
    margin-top: 0;
}

/* no space @media, progressive enhancement */
@media screen and (min-width: 600px){
    html{
        font-size: 16px;
    }
    .wrapper{
        width: 600px;
    }   
    /* main p: :nth-child(1),
    main p: :nth-child(2){
        float: left;
        width: 33.33%;
    } */
}

@media screen and (min-width: 800px){
    .wrapper{
        width: 800px;
    }

    main p{
        float: left;
        width: 33.3%;
    }
}